h1 {
  font-size: 2em;
}
li {
  text-align: left;
}
.header h1 {
  margin: 5%;
}
.notas-copy {
  width: 70%;
  text-align: center;
  margin: auto;
  line-height: 1.4;
}
.notas-copy ul {
  padding: 0 5%;
  display: inline-block;
  text-align: center;
}
.notas-img {
  width: 45%;
  margin: 5% auto;
}
.notas-img img {
  width:100%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.25);
}

@media only screen and  (max-width: 1200px) {
  h1 {
    font-size: 1.8em;
  }
  .notas-copy {
    width: 75%;
  }
  .notas-img {
    width: 50%;
  }
}
@media only screen and  (max-width: 992px) {
  h1 {
    font-size: 1.6em;
  }
  .notas-copy {
    width: 85%;
  }
  .notas-img {
    width: 60%;
  }
}
@media only screen and  (max-width: 768px) {
  h1 {
    font-size: 1.4em;
  }
  .notas-copy {
    width: 90%;
  }
  .notas-img {
    width: 70%;
  }
}
@media only screen and  (max-width: 480px) {
  .notas-img {
    width: 90%;
  }
}