* {
  font-family: 'Gotu', sans-serif;
  scroll-behavior: smooth;
}

.body, figure {
  margin: 0 auto;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;

}

.header {
  text-align: center;
  color: #000;
  text-shadow: 1px 1px 1px #000;
  font-weight: bold;
  display: block;
  width: 100%;
}
hr {
  align-items: center;
  width: 20%;
  height: 3px;
  background-color: #DBFFE5;
  border: none;
}

h2 {
  font-size: 1.8em;
}

#navigation {
  height: 51px;
  display: block;
}

.topnav a .icons:first-child{
  display: block;
  height: 18px;
  margin-left:10px;
}
.topnav a .icons:last-child {
  display: none;
  height: 18px;
  margin-left:10px;     
}
.topnav a:hover .icons:last-child {
  display: block;

}
.topnav a:hover .icons:first-child {
  display: none;  
}
.clear {
  width:100%;
  height: 44px;
  display: block;
}


ul{
  padding-inline-start: 0;
}

.topnav {
  overflow: hidden;
  background-color: #DBFFE5; /*#D5FACF*/
  width: 100%;
  position: fixed;
  z-index: 5;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.3em;
}

.topnav a:hover {
  color: #64B058;
  text-shadow: 1px 1px #F0F0F0;
  font-weight: bold;
}

.topnav .icon {
  display: none;
}


.cover-img {
  width: 100%;
}
.cover-box img {
  width: 100%;
  height: auto;
}
.sobre-mi {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  padding:5%;
  background: rgb(255,255,255); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(219,255,229,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(219,255,229,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(219,255,229,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dbffe5',GradientType=0 ); /* IE6-9 */

}

.sobre-mi-box {
  width: 25%;
}

.sobre-mi-img {
  display: block;
  width: 100%;
  border-radius: 50%;
  margin:auto;
  box-shadow: 0 10px 10px 1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 10px 10px 1px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: 0 10px 10px 1px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 10px 10px 1px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0 10px 10px 1px rgba(0, 0, 0, 0.3);
}

.sobre-mi-copy {
  width:40%;
  text-align: center;
  padding-left: 3%;
}

p, ul {
  font-size: 1.1em;
}

.servicios {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  justify-content: center;
  align-content: center;
  padding: 2%;
  margin-bottom: 4%;
}

.servicios-card {
  margin: 3%;
  padding: 3%;
  box-shadow: 0 10px 10px 1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 10px 10px 1px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: 0 10px 10px 1px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 10px 10px 1px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0 10px 10px 1px rgba(0, 0, 0, 0.3);
}

.servicios-img {
  width: 100%;
}

.servicios-card h3 {
  text-align: center;
}
.servicios-card > p {
  text-align: center;
  line-height: normal;
  font-size: 0.9em;
}

.notas-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 10% 3% 10%;
}

.notas-section {
  margin-bottom: 7%;
}
.notas-card {
  width: 15%;
  margin: 2% 3%;
  text-align: center;
}
.notas-card a{
  text-decoration: none;
}
.notas-card img {
  width: 100%;
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.25);
}

.notas-card .card-copy {
  padding: 1% 1%;
}
.notas-card .card-copy p {
  font-size: 1em;
  color: black;
}

.notas-card:hover img {
  -webkit-transition:box-shadow 0.4s ease-in-out;
  -moz-transition:box-shadow 0.4s ease-in-out;
  transition:box-shadow 0.4s ease-in-out;
  box-shadow: 0 4px 8px 10px rgba(0,0,0,0.2);
  cursor: pointer; 
}
.notas-card:hover .card-copy p {
  font-weight: bold;
  cursor: pointer;
  -webkit-transition:font-weight 0.4s ease-in-out;
  -moz-transition:font-weight 0.4s ease-in-out;
  transition:font-weight 0.4s ease-in-out;
}

.notas-section button {
  display: block;
  margin: auto;
  padding: 15px 0px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  background-color:#91E78C; 
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  font-family: 'Gotu', sans-serif;
}

.notas-section button:hover {
  background-color: #4BA746;
}
.notas-section button:hover a {
  text-shadow: 1px 1px 1px #000;
}

.notas-section button:active {
  background-color: #4BA746;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.notas-section button a {
  text-decoration: none;
  color: #fff;
  padding: 12px 25px;
  margin: 0;
}

.ubicacion {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 3%;
  padding: 3%;
}

.ubicacion-maps {
  width: 40%;
  height: 450px;
  margin: 1.5%;
}
.ubicacion-copy {
  width: 35%;
  background-color:#DBFFE5;
  padding: 3%;
  margin: 2.5%;
  transform: rotate(-5deg);
}

.ubicacion-copy * {
  transform: rotate(5deg);
  line-height: 1.5;
}

.ubicacion-copy > p {
  font-size: 1em;
}

.contacto-form input[type="text"],
.contacto-form input[type="email"],
.contacto-form input[type="tel"],
.contacto-form input[type="url"],
.contacto-form textarea,
.contacto-form select,
.contacto-form button[type="submit"] { 
  font:400 12px/16px 'Gotu', "Open Sans", Helvetica, Arial, sans-serif;
 }


.contacto {
  width: 100%;
  background-image: url("../img/contact.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  padding: 3% 0;
}

.contacto h2 {
  color: black;
  display: block;
  text-align: center;
}

form fieldset {
  border: medium none;
  max-width: 35%;
  padding: 0;
  margin: auto;
}

.contacto-form input[type="text"],
.contacto-form input[type="email"],
.contacto-form input[type="tel"],
.contacto-form select,
.contacto-form textarea {
  width:100%;
  border:1px solid #CCC;
  background:#FFF;
  margin:0 0 5px;
  padding:10px;
}

.contacto-form input[type="text"]:hover,
.contacto-form input[type="email"]:hover,
.contacto-form input[type="tel"]:hover,
.contacto-form textarea:hover {
  -webkit-transition:border-color 0.3s ease-in-out;
  -moz-transition:border-color 0.3s ease-in-out;
  transition:border-color 0.3s ease-in-out;
  border:1px solid #AAA;
}

.contacto-form textarea {
  height:100px;
  max-width:100%;
  resize:none;
}

.contacto-form button[type="submit"] {
  cursor:pointer;
  width:40%;
  border:none;
  background:#91E78C;
  color:black;
  padding:3%;
  font-size:15px;
}

.contacto-form button[type="submit"]:hover {
  background:#4BA746;
  color:#FFF;
  -webkit-transition:background 0.3s ease-in-out;
  -moz-transition:background 0.3s ease-in-out;
  transition:background-color 0.3s ease-in-out;
}

.contacto-form button[type="submit"]:active { 
  box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5);
  -ms-box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5);
  -o-box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); 
}

.contacto-form input:focus,
.contacto-form textarea:focus {
  outline:0;
  border:1px solid #999;
}
::-webkit-input-placeholder {
  color:#888;
}
:-moz-placeholder {
  color:#888;
}
::-moz-placeholder {
  color:#888;
}
:-ms-input-placeholder {
  color:#888;
}
.contacto-submit {
  display:block;
  margin:auto;
}
.footer {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  list-style: none;
  background-color: #D5FACF;
  width: 100%;
  font-size: 1.2em;
}

.footer a {
  color: black;
  text-decoration: none;
  width: 3%;
  padding: 1%;
  margin-right: 10px;
  margin-left: 10px;
}

.footer img {
  width: 100%;
}

.footer .datos {
  text-decoration: none;
  color: black;
  font-size: 12px;
  list-style-type: none;
  display: block;
  position: absolute;
  width: 15%;
  float: right;
  right: 2%;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-block-end: 0;
}

.footer .datos a {
  width: auto;
  padding: 0;
  margin-right: 0;
  margin-left: 0;
}


@media only screen and  (max-width: 1200px) {
  
  h2 {
    font-size: 1.4em;
  }

  .topnav a {
    font-size: 1.1em;
  }
  .topnav a .icons:first-child,
  .topnav a .icons:last-child {
  height: 16px;    
  }
  p, ul {
    font-size: 1em;
  }

  .servicios {
    grid-template-columns: repeat(auto-fit, minmax(234px, 1fr));
  }

  .notas-box {
    padding: 0 5% 3% 5%;
  }

  .notas-box {
    padding: 0 5% 3% 5%;
  }
  .notas-card {
    width: 18%;
  }
  .notas button {
    font-size: 0.8em;
  }

}

@media only screen and  (max-width: 992px) {

  .topnav a {
    font-size: 0.9em;
  }
  .topnav .icons {
  height: 16px;
  }
  p, ul {
    font-size: 0.9em;
  }
  .servicios {
    grid-template-columns: repeat(auto-fit, minmax(315px, 1fr));
    padding: 5%;
  }
  .notas-card {
    width: 21%;
    margin: 2% 5%;
  }
  .notas-card .card-copy p {
    font-size: 0.9em;
  }
  .ubicacion-maps {
    height:335px;
  }

  .ubicacion-copy > p {
    font-size: 0.9em;
  }
  .footer a {
    width: 4%;
    padding: 1%;
    margin-right: 10px;
    margin-left: 10px;
  }

  .footer .datos{
    font-size: 10px;
    right: 4%;
  }
}


@media only screen and (max-width: 768px) {
  .topnav a .icons:first-child,
  .topnav a .icons:last-child {
    margin-left: 0;
  }
  .topnav span a{
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }

  .topnav.responsive {
    width: 100%;
    position: fixed;
    z-index: 5;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .sobre-mi {
    flex-wrap: wrap;
  }
  .sobre-mi-box {
    width: 50%;
    margin:auto;
  }
  .sobre-mi-copy {
    width: 80%;
    padding-top: 5%;
    padding-left:0;
    margin:auto;
  }
  .servicios {
    display: block;
    margin: auto;
    width: 80%;
  }
  .notas-card {
    width: 25%;
    margin: 2% 3%;
  }
  .notas-card .card-copy p {
    font-size: 0.8em;
  }
  .ubicacion {
    display: block;
  }
  .ubicacion-maps {
    width: 85%;
    margin:auto;
  }
  .ubicacion-copy {
    width: 50%;
    margin: 5% auto;
  }
  form fieldset {
    max-width: 45%;
  }
  .contacto {
    background-attachment: scroll;
  }
  
  .contacto-form button[type="submit"] {
    width: 60%;
  }
  .contacto-form {
    background-attachment: scroll;
  }
  .footer {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
  .footer .datos {
    width: 22%;
    right: 4%;
  }
}

@media only screen and (max-width: 480px) {
  .sobre-mi-box {
    width: 70%;
  }
  .servicios {
    width: 90%;
  }
  .notas-card {
    width: 40%;
  }
  form fieldset {
    max-width: 65%;
  }
  .footer a {
    width: 10%;
    margin: 0;
    padding: 2% 3%;
  }

  .footer .primero {
    padding-left: 5%;
  }

  .footer .datos {
    width: 27%;
    font-size: 8px;
  }
}


